<div class="col-md-6">
    <div id="registerModal" class="show">
        <div>
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="text-center">Create a new account</h3>
                </div>
                <div class="modal-body">
                    <form role="form" name="registrationForm" novalidate>
                        <div class="form-group">
                            <div>
                                <input type="text" class="form-control input-md" data-ng-model="registrationCtrl.registration.userName" name="userName" placeholder="Username" pattern="[A-Za-z\d\-\_\.]{3,15}" required useravail />
                            </div>
                            <div class="has-error" ng-show="registrationForm.userName.$dirty && registrationForm.userName.$invalid">
                                <label class="control-label" ng-show="registrationForm.userName.$error.unique">This user alredy exist</label>
                                <label class="control-label" ng-show="registrationForm.userName.$error.pattern">Incorrect Username (Username can contain only Latin letters a-z including register A-Z, numeric characters, special characters as .-_ , spaces are not allowed, consist of minimum 3 to maximum 15 symbols)</label>
                                <label class="control-label" ng-show="registrationForm.userName.$error.required">Username is required</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <input type="email" class="form-control input-md" name="email" ng-minlength="6" ng-maxlength="50"
                                       data-ng-model="registrationCtrl.registration.email" placeholder="Email" 
                                       pattern="^[A-Za-z\d\~\!\#\$\%\^\&\*\-\_\+\=\`\|\(\)\{\}\:\;\<\>\''\,\/\?\.]+@[A-Za-z\d_-]+(\.[A-Za-z\d_-]+)*\.[A-Za-z]{2,6}$" required emailavail />
                            </div>
                            <div class="has-error" ng-show="registrationForm.email.$dirty && registrationForm.email.$invalid">
                                <label class="control-label" ng-show="registrationForm.email.$error.unique">This e-mail is already exist</label>
                                <label class="control-label" ng-show="registrationForm.email.$error.required">Email is required</label>
                                <label class="control-label" ng-show="registrationForm.email.$error.pattern||registrationForm.email.$error.minlength||registrationForm.email.$error.maxlength">
                                Incorrect E-mail (E-mail can contain only Latin letters a-z including register A-Z, numeric characters, special characters as ~!#$%^&*_-+=`|(){}[]:;"'<>,.?/ , spaces are not allowed, have only one @, consist of minimum 6 to maximum 50 symbols, and looks like user@domain)</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <input type="password" class="form-control input-md" name="password"
                                       data-ng-model="registrationCtrl.registration.password" placeholder="Password" pattern= "(?=.*\d)(?=.*[A-Za-z])[A-Za-z\d\~\!\#\$\%\^\&\*\-\_\+\=\`\|\(\)\{\}\:\;\<\>\''\,\/\?\.]{5,30}" required>
                            </div>
                            <div class="has-error" ng-show="registrationForm.password.$dirty && registrationForm.password.$invalid">
                                <label class="control-label" ng-show="registrationForm.password.$error.required">Password is required</label>
                                <label class="control-label" ng-show="registrationForm.password.$error.pattern">Incorrect Password (Password can contain only Latin letters a-z including register A-Z, numeric characters, special characters as ~!#$%^&*_-+=`|\(){}[]:;"'<>,.?/ , spaces are not allowed, consist of minimum 5 to maximum 30 symbols and must have at least one letter and one numeral)</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <input type="password" class="form-control input-md" name="confirmPassword"
                                       data-ng-model="registrationCtrl.registration.confirmPassword" placeholder="Confirm password" required compare-to="registrationCtrl.registration.password">
                            </div>
                            <div class="has-error" ng-show="registrationForm.confirmPassword.$dirty && registrationForm.confirmPassword.$invalid">
                                <label class="control-label" ng-show="registrationForm.confirmPassword.$error.required">Confirm password is required</label>
                                <label class="control-label" ng-show="registrationForm.confirmPassword.$error.compareTo">Passwords are not equal</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit"
                                    ng-disabled="registrationForm.userName.$invalid || registrationForm.email.$invalid
                                    || registrationForm.password.$invalid"
                                    class="btn btn-primary btn-md btn-block" data-ng-click="registrationCtrl.register()">
                                Sign Up
                            </button>
                        </div>
                        <div data-ng-hide="registrationCtrl.message == ''" data-ng-class="(registrationCtrl.savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                            {{registrationCtrl.message}}
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div class="col-md-3">
</div>
