
<!DOCTYPE html>
<html>
<head>
    <title>ELib - The best ebooks library. </title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/profile.css">

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">ELib</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                       <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                        <li><a href="#">Books</a></li>
                        <li><a href="#">Authors</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Genres<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Publishers<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            
                        </li>
                        <li><a href="/Help">API</a></li>
                        <li><a href="/Home/FilesTest">File Upload</a>
                            
                        </li>
                        <li><a href="#">User Profile</a></li>
                        <li><a href="#">Log Out</a></li>
                        <!--<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                            -->
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div>
    <h1>Book Title</h1>
    <hr />
    <div class="container col-lg-12">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <figure class="panel panel-default"  style="margin-bottom : 15px">
                    <img class="panel-body center-block" src=""  width="192" height="240" />
                    <figcaption class="panel-footer">
                      <p>Rating : 4.7</p>
                      <div class="center-block text-center text-success" >
                        <span class="glyphicon glyphicon-star" ></span>
                        <span class="glyphicon glyphicon-star" ></span>
                        <span class="glyphicon glyphicon-star" ></span>
                        <span class="glyphicon glyphicon-star" ></span>
                        <span class="glyphicon glyphicon-star" ></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                      </div>
                    </figcaption>
                </figure>
                <div class="panel panel-default">
                    <div class="panel-heading">Download</div>
                        <ul class="panel-body list-group">
                            <li class="list-group-item"><a href="#">pdf</a></li>
                            <li class="list-group-item"><a href="#">djvu</a></li>
                        </ul>
                </div>
               </div>
            <div class="col-lg-6 col-sm-12 container">
                <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <p class="lead">Title:</p>
                </div>
                <div class="col-lg-8 col-sm-6">
                    <p>title</p>
                </div>
             </div>
               <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <p class="lead">Authors:</p>
                </div>
                <div class="col-lg-8 col-sm-6">
                    <p><span><a href="#">author</a></span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <p class="lead">Genres:</p>
                </div>
                <div class="col-lg-8 col-sm-6">
                    <p>genre</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <p class="lead">Subgenre:</p>
                </div>
                <div class="col-lg-8 col-sm-6">
                    <p>subgenre</p>
                </div>
            </div>
            <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <p class="lead">Publisher:</p>
                    </div>
                    <div class="col-lg-8 col-sm-6">
                        <p><a href="#">publisher</a></p>
                    </div>
            </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <p class="lead">Year of publishing:</p>
                    </div>
                    <div class="col-lg-8 col-sm-6">
                        <p>year</p>
                    </div>
                </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <p class="lead">Pages:</p>
                </div>
                <div class="col-lg-8 col-sm-6">
                    <p>pages</p>
                </div>
            </div>

                
 </div>
</div>
</div>
    <comments-view></comments-view>
</div>
        <div class="row ">
            <div class="col-md-12 bg-success">
                Footer
            </div>
        </div>
    </div>
    
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
