<ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="active"><a ng-click="showGeneralInfo()"> <i class="glyphicon glyphicon-list"></i> General Info </a></li>
    <li role="presentation"><a ng-click="showRatings()"> <i class="glyphicon glyphicon-star"></i> Ratings </a> </li>
    <li role="presentation"><a ng-click="showComments()"> <i class="glyphicon glyphicon-comment"></i> Comments </a> </li>
    <li role="presentation"> <a ng-click="showFavs()"> <i class="glyphicon glyphicon-heart"></i> Favs </a></li>
    <li role="presentation"> <a ng-click="showBooksToRead()"> <i class="glyphicon glyphicon-time"></i> Books To Read </a></li>
    <li role="presentation"> <a ng-click="showAlreadyReadBooks()"> <i class="glyphicon glyphicon-ok-circle"></i> Already Read Books  </a></li>
    <li role="presentation"> <a ng-click="showSocialNetworks()"> <i class="glyphicon glyphicon-globe"></i> Social Network Integration </a> </li>
</ul>       