<ul class="nav nav-pills nav-stacked">
    <li role="presentation" ng-class="{active:isActive('GeneralInfo')}">        <a ng-click="showSection('GeneralInfo')"> <i class="glyphicon glyphicon-list"></i> General Info </a></li>
    <li role="presentation" ng-class="{active:isActive('Ratings')}">            <a ng-click="showSection('Ratings')"> <i class="glyphicon glyphicon-star"></i> Ratings </a> </li>
    <li role="presentation" ng-class="{active:isActive('Comments')}">           <a ng-click="showSection('Comments')"> <i class="glyphicon glyphicon-comment"></i> Comments </a> </li>
    <li role="presentation" ng-class="{active:isActive('Favourites')}">         <a ng-click="showSection('Favourites')"> <i class="glyphicon glyphicon-heart"></i> Favs </a></li>
    <li role="presentation" ng-class="{active:isActive('BooksToRead')}">        <a ng-click="showSection('BooksToRead')"> <i class="glyphicon glyphicon-time"></i> Books To Read </a></li>
    <li role="presentation" ng-class="{active:isActive('AlreadyReadBooks')}">   <a ng-click="showSection('AlreadyReadBooks')"> <i class="glyphicon glyphicon-ok-circle"></i> Already Read Books  </a></li>
    <li role="presentation" ng-class="{active:isActive('SocialNetworks')}">     <a ng-click="showSection('SocialNetworks')"> <i class="glyphicon glyphicon-globe"></i> Social Network Integration </a> </li>
</ul>       