<div class="row ">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <img src="{{currentProfileCtrl.profile.ImagePath}}" class=" img-thumbnail" />
                <br>
                <div style="text-align:center" >
                    <input type="file" id="fileUploadId" style="display:none !important" onchange="angular.element(this).scope().uploadProfileImage(document.getElementById('fileUploadId').files)" />
                    <a href="#" onclick="event.preventDefault(); document.getElementById('fileUploadId').click()">Upload New</a>

                </div>
            </div>
            <div class="col-md-8 profile"  ng-hide="isEditMode">
                <div class="info-item">
                    <span class="info-label">Login</span>
                    <span class="info-value ">{{currentProfileCtrl.profile.Login}} </span>
                </div>
                <div class="info-item">
                    <span class="info-label">First Name</span>
                    <span class="info-value ">{{currentProfileCtrl.profile.FirstName}}</span>
                </div>
                <div class="info-item">
                    <span class="info-label">Last Name</span>
                    <span class="info-value ">{{currentProfileCtrl.profile.LastName}}</span>
                </div>
                <div class="info-item">
                    <span class="info-label">Email</span>
                    <span class="info-value ">{{currentProfileCtrl.profile.Email}}</span>
                </div>
                <div class="info-item">
                    <span class="info-label">Phone</span>
                    <span class="info-value ">{{currentProfileCtrl.profile.Phone}}</span>
                </div>
                


            </div>
            <div class="col-md-8 profile-edit" ng-show="isEditMode">
                <div class="info-item">
                    <span class="info-label">Login</span>
                    <span class="info-value ">{{currentProfileCtrl.profile.Login}} </span>
                </div>
                <div class="info-item">
                    <span class="info-label">First Name</span>
                    <span class="info-value info-editable" contenteditable="true">{{currentProfileCtrl.profile.FirstName}}</span>
                </div>
                <div class="info-item">
                    <span class="info-label">Last Name</span>
                    <span class="info-value info-editable" contenteditable="true">{{currentProfileCtrl.profile.LastName}}</span>
                </div>
                <div class="info-item">
                    <span class="info-label">Email</span>
                    <span class="info-value info-editable" contenteditable="true">{{currentProfileCtrl.profile.Email}}</span>
                </div>
                <div class="info-item">
                    <span class="info-label">Phone</span>
                    <span class="info-value info-editable" contenteditable="true">{{currentProfileCtrl.profile.Phone}}</span>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    <a  class="btn btn-primary pull-right" ng-click="event.preventDefault(); EditMode()"> {{isEditMode?"Save":"Edit"}}</a>
                </p>
            </div>

        </div>
    </div>
</div>