<div class="row ">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <img src="{{currentProfileCtrl.profile.ImagePath}}" class=" img-thumbnail" />
                <br>
                <div style="text-align:center" ng-controller="FileController as fileCtrl">
                    <input type="file" id="fileUploadId" style="display:none !important" onchange="angular.element(this).scope().uploadProfileImage(document.getElementById('fileUploadId').files)" />
                    <a href="#" onclick="event.preventDefault(); document.getElementById('fileUploadId').click()">Upload New</a>

                </div>
            </div>
            <div class="col-md-9" ng-hide="isEditMode">
                <p>
                    <h4><b> {{currentProfileCtrl.profile.Login}} </b><small> <a href="#" class="bg-warning">Confirm your Account</a></small> </h4>
                </p>
                <p>
                    {{currentProfileCtrl.profile.FirstName}} - {{currentProfileCtrl.profile.LastName}}
                </p>
                <p>
                    <i>Email: {{currentProfileCtrl.profile.Email}}</i>
                </p>
                <p>
                    <i>Phone: {{currentProfileCtrl.profile.Phone}}</i>
                </p>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    <a  class="btn btn-primary pull-right" ng-click="event.preventDefault(); EditMode()"> {{isEditMode?"Save":"Edit"}}</a>
                </p>
            </div>

        </div>
    </div>
</div>