   
 <div class="row row-bottom-buffer" >
            <div class="col-md-12">
                
                    <div class="row">  
                        <div class="col-md-3">
                            <img src="/Images/profile-big.png" class=" img-thumbnail" />
                            <br>
                            <div class="pull-right">
                                <a href="#" class="">Change Image</a>
                            </div>                           
                        </div>   
                        <div class="col-md-9">
                            <p>
                                <h4><b> {{profile.profile.Login}} </b><small> <a href="#">Confirm</a></small> </h4>
                            </p>
                            <p>
                                {{profile.profile.FirstName}} - {{profile.profile.LastName}}
                            </p>
                            <p>
                                <i>{{profile.profile.Email}}</i>
                            </p>
                            <p>
                                <i>{{profile.profile.Phone}}</i>
                            </p>
                             <p>
                                <a href="#" class="btn btn-primary"> Edit </a>
                            </p>
                                <hr>                        
                            <p>
                                Registration Date: {{profile.profile.RegistrationDate}}
                            </p>
                            <p>
                                Last Activation Date: {{profile.profile.LastActivationDate}}
                            </p>                           
                        </div>                                     
                    </div> 
            </div>
        </div>


