<html>
	<head>
	<title>Comment</title>
	<link href="bootstrap-theme.css" rel="stylesheet">
	<link href="bootstrap-theme.css.map" rel="stylesheet">
	<link href="bootstrap.css" rel="stylesheet">
	<link href="bootstrap.css.map" rel="stylesheet">
	<script src="modernizr-2.6.2.js"></script>
	</head>
	<body>
	<div class="container">
		
		<div class="row">
            <div class="col-md-12">
                <div class="well">
                    
                    <form class="form-horizontal" role="search">
                        <div class="form-group" style="border:1px solid #000">
                            <div class="col-sm-2">
								<div>
									<img src="dzen.jpg" class="img-circle" alt="Cinque Terre" width="120" height="120">
									
									<h4>Vasya Pupkin</h4>
									<div>
										<p>
											<button type="button" class="btn btn-default btn-sm btn-success">
											  <span class="glyphicon glyphicon-plus"></span> Like
											</button>
											<button type="button" class="btn btn-default btn-sm btn-danger">
											  <span class="glyphicon glyphicon-minus"></span> Dislike
											</button>
										</p>
									</div>
								</div>
							</div>
							
							<div class="col-md-10">
									<div class="row">
									  <div class="col-md-12">
										<br/>
										<p>Text text text text text text text text text text 
										text text text text text text text text text text text 
										text text text text text text text text text text text 
										text text text text text text text text text text text 
										text text text text text text text text text text text 
										text text text text text text text text text text 
										text text text text text text text text text text text
										text text text text text text text text text text text text
										text text text text text text text text text text text text
										text text text text text text text text
										</p>
									  </div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="form-horizontal">
													<p>
														<span class="badge badge-info">5</span>
														<span class="label label-info">Date commented: 13:06:05 25.08.2015</span>
														<button type="delete" class="btn btn-default pull-right">
															Delete
														</button>
													</p>
										   </div>
									   </div>
							       </div>
									
							</div>
							
							<br/>
                        </div>
 
                    </form>
                </div>
            </div>
        </div>
		
	</body>
</html>