<html>
<head>
	<title>
		Elib - best lib ever.
	</title>
	<link rel="stylesheet" href="../materialize/css/materialize.min.css" />
	 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="../materialize/js/materialize.min.js"></script>
	<style>
	.image-block{
		padding: 5px;
		border-radius: 0px;
	}

	.profile-image{
		display: block;
		margin: auto;
	}

	hr{
		background-color:#29b6f6;
		height: 1px;
		border:0px;
	}

	.book-rating{
		float: right;
	}
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col m12 l3 ">
				<div class="image-block light-blue lighten-3">
					<p>
						<img class="profile-image"  src="images/profile-big.png"/>

					</p>
				</div>
			</div>
			<div class="col m12 l6">
				<form id="profile-info">
					<p>
						<h4>Profile Info</h4>
					</p>
					<p>
						 <b> @Username</b> 
						<a href="#" class="">Not Activated</a>
					</p>
					<p>
						<h5> Firstname Lastname </h5>
					</p>
					<p>
						<i> Email@domain.com </i>
					</p>	
					<p>
						<i> +380931234567 </i>
					</p>	

					<p>
						<a href="#" class="btn waves-effect waves-light light-blue lighten-1"> <i class="material-icons">create</i>Edit</a>
					</p>		
					<p>
						<hr />
					</p>
				</form>
				<p>
					<h4> Favourites</h4>
				</p>
				<p>
					<ul class="collection">
						<li class="collection-item avatar">
					      <img src="images/book.png" alt="" class="circle">
					      <span class="title">Book Name</span>
					      <p>
					         <i>Author</i>
					      </p>
					      <a href="#!" class="secondary-content" ><i class="material-icons">grade</i></a>
				    	</li>
				    	<li class="collection-item avatar">
					      <img src="images/book.png" alt="" class="circle">
					      <span class="title">Book Name</span>
					      <p>
					         <i>Author</i>
					      </p>
					      <a href="#!" class="secondary-content" ><i class="material-icons">grade</i></a>
				    	</li>
				    	<li class="collection-item avatar">
					      <img src="images/book.png" alt="" class="circle">
					      <span class="title">Book Name</span>
					      <p>
					         <i>Author</i>
					      </p>
					      <a href="#!" class="secondary-content" ><i class="material-icons">grade</i></a>
				    	</li>
					</ul>
				</p>
				<p>
						<hr />
					</p>
				<p>
					<h4> Rated Books</h4>
				</p>
				<p>
					<ul class="collection">
						<li class="collection-item avatar">
					      <img src="images/book.png" alt="" class="circle">
					      <span class="title">Book Name</span>
					      <p>
					         <i>Author</i>
					      </p>

				    	</li>
				    	<li class="collection-item avatar">
					      <img src="images/book.png" alt="" class="circle">
					      <span class="title">Book Name</span>
					      <p>
					         <i>Author</i>
					      </p>
					      <a href="#!" class="book-rating" >8</a>
				    	</li>
				    	<li class="collection-item avatar">
					      <img src="images/book.png" alt="" class="circle">
					      <span class="title">Book Name</span>
					      <p>
					         <i>Author</i>
					      </p>
					      <a href="#!" class="book-rating" >10</a>
				    	</li>
					</ul>
				</p>

			</div>

		</div>
	</div>
</body>
</html>