<div class="login-section">
    <h1>Log In</h1>
    <form id="login-form">
        <label>Email</label>
        <input id="email" type="text" />
        <label>Password</label>
        <input id="password" type="password" />
        <input type="submit" value="Log In" />
        <a id="log-out"href="#">Log Out</a>
    </form>
</div>
<div class="register-section">
    <h1>Register</h1>
    <form id="register-form">
        <label>Login</label>
        <input name="login" type="text" />
        <label>Email</label>
        <input name="email" type="text" />
        <label>Password</label>
        <input name="password" type="password" />
        <label>Confirm Password</label>
        <input name="confirmPassword" type="password" />
        <input type="submit" value="Register" />
    </form>
</div>
<div class="test-section">
    <h1>Test Authentication</h1>
    <button id="test-auth" >Click Me</button>
</div>

<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script>
    $(function () {
        var tokenKey = "tokenInfo";

        $('#login-form').submit(function () {
            
            var url = '/token';

            var data = {};
            data.grant_type = 'password';
            data.email = $('#email').val();
            data.password = $('#password').val();

            $.ajax({
                type: 'POST',
                url: url,
                data: data,
            }).success(function (data) {
                alert('Log In success')
                // save token
                sessionStorage.setItem(tokenKey, data.access_token);             
            }).fail(function (data) {
                alert('Log In is failed');
            });

            return false;
        });

        $('#log-out').click(function (e) {
            sessionStorage.removeItem(tokenKey);
            /*
            var url = '/api/account/logout';

            $.ajax({
                type: "POST",
                url: url,
                success: function (data) {
                    alert("Log Out success");
                },
                fail: function (data) {
                    alert("Log Out is failed");
                }
            });*/

        });

        $('#register-form').submit(function () {

            var url = '/api/account/register'; 

            $.ajax({
                type: "POST",
                url: url,
                data: $("#register-form").serialize(), 
                success: function (data) {
                    alert("Registration is completed");
                },
                fail: function (data) {
                    alert("Registration is failed");
                }   
            });

            return false; 
        });

        $("#test-auth").click(function () {
            var url = '/api/genres';

            $.ajax({
                type: 'GET',
                url: url,
                beforeSend: function (xhr) {

                    var token = sessionStorage.getItem(tokenKey);
                    xhr.setRequestHeader("Authorization", "Bearer " + token);
                },
                success: function (data) {
                    alert(data[0].Name);
                },
                fail: function (data) {
                    alert(data);
                }
            });
        });
    })
</script>