<div>
    <div>
            <div>
                <img />
                <h4>Name</h4>
            </div>
            <div>
                <p1>Text text text text text text</p1>
            </div>
    </div>
    <hr />
    <div>
        <div>
            <button>Like</button>
            <button>Dislike</button>
        </div>
        <div>
            <p>13:06:05 25.08.2015</p>
            <button>Delete</button>
            <button>Edit</button>
            <button>Comment</button>
        </div>
    </div>
</div>
