<div id="body">
    <section class="featured">
        <div class="content-wrapper">
           
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <form name="form1" method="post" enctype="multipart/form-data" action="/api/file">
            <div>
                <label for="image1">Image File</label>
                <input name="image1" type="file" />
            </div>
            <div>
                <input type="submit" value="Submit" />
            </div>
        </form>
    </section>
</div>
