<!--main-->
<div class="col-md-9">
    <div id="books">
        <div class="row">
            <div class="col-md-8">
                <p class="lead" style="margin-bottom:0;border-bottom: 1px solid #eee ">Books</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-default pull-right" href="/books/new"><i class="glyphicon glyphicon-file"></i> Add Book</a>
            </div>
        </div>
        <div class="row" style="margin-bottom:10px">
            <div class="col-md-12">
                <small>Ordering :</small>               
                <sorting-directive ordering="books.ordering"  callback="books.OrderingChanged"></sorting-directive>
                <lib-page-count-changer entity-name="Books"></lib-page-count-changer>
             
               </div>
        </div>
    
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <ul class="list-group" book-list-directive books="books.books"></ul>
            </div>
        </div>

        <pagination ng-if="books.totalCount" total-items="books.totalCount" ng-model="books.currPage" items-per-page="books.pageCount"
                    boundary-links="true" max-size="books.maxSize" class="pagination-sm" ng-change="books.pageChanged()"></pagination>
    </div>
</div>
