
    <div class="panel panel-default" ng-controller="FilterController as filter">
        <div class="panel-heading"><i class="glyphicon glyphicon-filter"></i> Filters</div>
        <div class="panel-body">
            <form role="form">
                <dl>
                    <dt>Filtering</dt>
                    <dd class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-3 text-muted small" for="Title">Title </label>
                            <div class="col-sm-9">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control input-sm" maxlength="30" placeholder="Title contains" ng-model="filter.title"
                                           ng-blur="filter.addFilter(filter.title,'title',true)" lib-enter-press="filter.addFilter(filter.title,'title', true)" />
                                    <span class="input-group-btn"><button class="btn btn-default btn-sm" ng-click="filter.removeFilter('title')"><span class="glyphicon glyphicon-remove-circle text-muted sm"></span></button></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 text-muted small" for="Author Name">Authors</label>
                            <div class="col-sm-9">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control input-sm" maxlength="30" placeholder="Author's name contains" ng-model="filter.author"
                                           ng-blur="filter.addFilter(filter.author,'author', true)" lib-enter-press="filter.addFilter(filter.author, 'author', true)" />
                                    <span class="input-group-btn"><button class="btn btn-default btn-sm" ng-click="filter.removeFilter('author')"><span class="glyphicon glyphicon-remove-circle text-muted sm"></span></button></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 text-muted small">Genre</label>
                            <div class="col-sm-9">
                                <div class="input-group input-group-sm">
                                    <select class="form-control text-muted input-sm" ng-options="genre.Id as genre.Name for genre in filter.genres" ng-model="filter.genreId" ng-blur="filter.addFilter(filter.genreId,'genreId', false)"
                                            lib-enter-press="filter.addFilter(filter.genreId,'genreId', false)" ng-change="filter.addFilter(filter.genreId,'genreId', false)">
                                        <option value="" class="text-muted input-sm">Genre</option>
                                        <!--<option ng-repeat="genre in filter.genres" class="text-muted input-sm" value="{{genre.Id}}">{{genre.Name}}</option>-->
                                    </select>
                                    <span class="input-group-btn"><button class="btn btn-default btn-sm" ng-click="filter.removeFilter('genreId')"><span class="glyphicon glyphicon-remove-circle text-muted sm"></span></button></span>
                                </div>
                            </div>
                        </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3 text-muted small" for="Subgenre">Subgenr.</label>
                                <div class="col-sm-9">
                                    <div class="input-group input-group-sm">
                                        <input type="text" maxlength="30" class="form-control input-sm" placeholder="Subgenre contains" ng-model="filter.subgenre"
                                               ng-blur="filter.addFilter(filter.subgenre,'subgenre', true)" lib-enter-press="filter.addFilter(filter.subgenre,'subgenre', true)" />
                                        <span class="input-group-btn"><button class="btn btn-default btn-sm" ng-click="filter.removeFilter('subgenre')"><span class="glyphicon glyphicon-remove-circle text-muted sm"></span></button></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3 text-muted small" for="Year">Year </label>
                                <div class="col-sm-9">
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control input-sm" placeholder="Year" ng-model="filter.year"
                                               ng-blur="filter.addFilter(filter.year, 'year', false)" lib-enter-press="filter.addFilter(filter.year,'year', false)" value="{{filter.currentYear}}" min="0" max="{{filter.currentYear}}" />
                                        <span class="input-group-btn"><button class="btn btn-default btn-sm" ng-click="filter.removeFilter('year')"><span class="glyphicon glyphicon-remove-circle text-muted sm"></span></button></span>
                                    </div>
                                </div>
                            </div>
                    </dd>
                </dl>
            </form>
        </div>
    </div>
    <div class="panel panel-default" ng-controller="BooksController as BooksCtrl">
        <div class="panel-heading"><i class="glyphicon glyphicon-th-list"></i> Categories</div>
        <div class="panel-body">
            <script type="text/ng-template" id="tree.html">
                <button type="button" ng-click=" BooksCtrl.ToggleNode(node)" ng-disabled="node.Children.length==0" class="btn btn-default"
                        style="width:26px;height:26px;border-radius:13px; padding:0px">
                    <span ng-class="node.opened ? 'glyphicon glyphicon-chevron-down center-block':'glyphicon glyphicon-chevron-right center-block'"></span>
                </button>
                <a href>{{node.Name}}</a>
                <ul class="subtree" ng-show="node.opened">
                    <li class="category" ng-repeat="node in node.Children" ng-include="'tree.html'"></li>
                </ul>
            </script>

            <ul class="subtree noLeftIndent">
                <li class="category" ng-repeat="node in BooksCtrl.categories" ng-include="'tree.html'"></li>
            </ul>
        </div>
    </div>
</aside>