<div>
    <div class="container-fluid">
        <h3>{{book.instance.Title}}</h3>
        <hr />
    </div>
    <div class="container col-lg-12">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <figure class="panel panel-default" style="margin-bottom : 15px">
                    <div class="panel-heading">
                        <input type="file" id="bookUploadId" style="display:none !important" onchange="angular.element(this).controller().uploadBookImage(document.getElementById('bookUploadId').files)" />
                        <a href="#" class="btn btn-default" onclick="event.preventDefault(); document.getElementById('bookUploadId').click()"> <i class="glyphicon glyphicon-upload"></i> Upload New</a>
                    </div>
                    <div class="panel-body">
                        <img class="img-thumbnail center-block" ng-src="/api/file/book-images?hash={{book.instance.ImageHash}}&w=328" />
                    </div>

                    <figcaption class="panel-footer">
                        <p>Rating : {{book.instance.Rating}}</p>
                        <!--зробити рейтинг-дерективу, яка дозволяє клацати рейтинг-->
                        <!--<div class="center-block text-center text-success">
                            <span class="glyphicon glyphicon-star" ng-repeat="i in book.getFullStarsArray() track by $index"></span>
                            <span class="glyphicon glyphicon-star-empty" ng-repeat="i in book.getEmptyStarsArray() track by $index"></span>
                        </div>
                           -->

                        <div ng-controller="RatingController as rat" class="center-block text-center text-success">

                            <ng-rating ng-model="book.instance.Rating" ng-change="book.changeRating()"
                                       icon-class="rat.iconClass"
                                       editable="rat.editableRating"
                                       stars-count="rat.starsCount"
                                       based-on="rat.basedOn"
                                       show-grade="rat.showGrade">
                            </ng-rating>
                        </div>

                    </figcaption>
                </figure>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div>
                            <i class="glyphicon glyphicon-save-file"></i>
                            Downloads

                            <input type="file" id="fileUploadId" style="display:none !important" onchange="angular.element(this).controller().uploadBookFile(document.getElementById('fileUploadId').files)" />
                            <button class="btn btn-sm btn-primary" onclick="event.preventDefault(); document.getElementById('fileUploadId').click()"><i class="glyphicon glyphicon-open-file"></i> Upload New File</button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="bookInstance in book.instance.BookInstances">
                                <a target="_self" href="/api/file/book-download/{{bookInstance.FileHash}}">{{bookInstance.Extension}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div data-ng-hide="book.message == ''" data-ng-class="(book.savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                    {{book.message}}
                </div>
                <div>

                </div>
            </div>
            <div class="col-lg-6 col-sm-12 container">

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="glyphicon glyphicon-question-sign"></i> Info</h4>
                    </div>
                    <div class="panel-body bg-warning">
                        <dl class="dl-horizontal" style="margin-bottom : 0px">
                            <dt>Title</dt>
                            <dd>{{book.instance.Title}}</dd>

                            <dt>Category</dt>
                            <dd>{{book.instance.CategoryName}}</dd>

                            <dt>Authors</dt>
                            <dd><span ng-repeat="(i,author) in book.instance.AuthorsDto"><a ng-href="{{'/authors/' + book.instance.AuthorsIds[i]}}">{{author.Name + " "}}</a></span></dd>

                            <dt>Genres</dt>
                            <dd><span ng-repeat="(i,genre) in book.instance.GenresNames"><a ng-href="{{'/genres/' + book.instance.GenresIds[i]}}">{{genre + " "}}</a></span></dd>

                            <dt>Subgenre</dt>
                            <dd>{{book.instance.SubgenreName}}</dd>

                            <dt>Publisher</dt>
                            <dd><a ng-href="{{'/publishers/' + book.instance.PublisherId}}">{{book.instance.PublisherName}}</a></dd>

                            <dt>Year of publishing</dt>
                            <dd>{{book.instance.PublishYear}}</dd>

                            <dt>Pages</dt>
                            <dd>{{book.instance.TotalPages}}</dd>
                        </dl>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="glyphicon glyphicon-comment"></i> 
                        Comments
                    </div>
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="panel-heading"> {{book.profile.UserName}}, leave your comment:</div>
                            <div class="panel-body">
                                <form>
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <textarea class="col-md-12 form-control" ng-model="book.newComment.Text" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <div class="pull-right">
                                                <input type="button" class="btn btn-default" value="Clear" ng-click="book.cleanComment()"/>
                                                <input type="button" class="btn btn-primary" value="Send" ng-click="book.createComment()" ng-disabled="!book.CanPost()"/>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--<div commentsDirective comments="book.comments"> </div>-->
                        <div class="panel panel-default" ng-repeat="comm in book.comments">
                            <div class="panel-heading"> 
                                <i class="glyphicon glyphicon-user"></i> {{comm.UserName}} wrote {{comm.CommentDate | date:'dd-MM-yyyy HH:mm:ss'}}
                            </div>
                            <div class="panel-body"> 
                                <div class="col-sm-2">
                                    <img class="img-circle" width="70" height="70" ng-src="/api/file/profile-image?w=70&h=70&hash={{comm.ImageHash}}" />
                                </div>
                                <div class="col-sm-10">
                                    {{comm.Text}}
                                </div>
                            </div>
                        </div>

                        
                    </div>
                </div>
               
            </div>
            <div class="col-lg-2 col-sm-12 container">
                <div class="panel panel-default">
                    <div class="panel-heading"><i class="glyphicon glyphicon-stats"></i> Stats</div>
                    <div class="panel-body">
                        Statistics info
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><i class="glyphicon glyphicon-usd"></i> Ads</div>
                    <div class="panel-body">
                        Banners!!!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
