<div>
    <div class="col-md-3">
        
    </div>
    <div class="col-md-6">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-3">
                </div>
                <div class="col-xs-9">
                    <h1>New book </h1>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3" for="inputEmail">Title:</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" id="inputTitle" placeholder="Title">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3" for="inputPassword">ISBN:</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" id="inputIsbn" placeholder="ISBN">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3">Language:</label>
                <div class="col-xs-4">
                    <select class="form-control">
                        <option value="0">Original language</option>
                        <option ng-repeat="language in newBookCtrl.originalLanguages" value="{{language.Id}}">{{language.Name}}</option>
                    </select>
                </div>
                <div class="col-xs-4">
                    <select class="form-control">
                        <option value="0">Publish language</option>
                        <option ng-repeat="language in newBookCtrl.publishLanguages" value="{{language.Id}}">{{language.Name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3">Publisher:</label>
                <div class="col-xs-6">
                    <select class="form-control" ng-disabled="true">
                        <option value="0">Publisher</option>
                    <!--   <option ng-repeat="publisher in uploadBookCtrl.publishers" value="{{publisher.Id}}">{{publisher.Name}}</option> -->
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3">Year of publishing:</label>
                <div class="col-xs-3">
                    <input type="text" class="form-control" id="inputYear" placeholder="Year">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3">Subgenre:</label>
                <div class="col-xs-6">
                    <select class="form-control">
                        <option value="0">Subgenre</option>
                        <option ng-repeat="subgenre in newBookCtrl.subgenres" value="{{subgenre.Id}}">{{subgenre.Name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3" for="description">Description:</label>
                <div class="col-xs-9">
                    <textarea rows="3" class="form-control" id="description" placeholder="Description"></textarea>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="col-xs-offset-3 col-xs-9">
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3">

    </div>
</div>