<div class="panel panel-default" >
        <div class="panel-heading"><i class="glyphicon glyphicon-filter"></i> Filters</div>
        <div class="panel-body">
            <form role="form">
                <dl>
                    <dt>Filtering</dt>
                    <dd class="form-horizontal">
                        <lib-filter entity="author" type="text" property="authorName" placeholder="Author name containce" label="Name"></lib-filter>
                        <lib-filter entity="author" type="year" property="year" max="-50" label="Birth year"></lib-filter>
                    </dd>
                </dl>
            </form>
        </div>
    </div>