<div>
    <div class="container-fluid">
        <h1>{{author.instance.FirstName}} {{author.instance.LastName}}</h1>
        <hr />
    </div>
    <div class="container col-lg-12">

        <div class="row">

            <div class="col-lg-4 col-sm-12">
                <figure class="panel panel-default" style="margin-bottom : 15px">
                    <div class="panel-heading">
                        <input type="file" id="authorUploadId" style="display:none !important" onchange="angular.element(this).controller().uploadAuthorImage(document.getElementById('authorUploadId').files)" />
                        <a href="#" onclick="event.preventDefault(); document.getElementById('authorUploadId').click()">Upload New</a>
                    </div>
                    <div class="panel-body">
                        <img class="img-responsive center-block" ng-src="/api/file/author-image?hash={{author.instance.ImageHash}}&w=328" />
                    </div>

                    <figcaption class="panel-footer">
                        <p>Rating : (Likes and Dislikes)</p>

                    </figcaption>
                </figure>
            </div>

            <div class="col-lg-8 col-sm-12 container">

                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <p class="lead">{{author.instance.FirstName}} {{author.instance.LastName}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <p class="lead">{{author.instance.DateOfBirth|date : "dd/MM/yyyy"}} - {{author.instance.DeathDate|date : "dd/MM/yyyy"}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <p>{{author.instance.Description}}</p>
                    </div>
                </div>



            </div>
        </div>

        <ul class="list-group" book-list-directive books="author.books"></ul>

    </div>

</div>






