<div id="books">
    <div class="row">

        <div class="col-md-9">

            <h3>Authors</h3>

        </div>
    </div>
    <!--top pagination-->
    <div class="divider"></div>

    <ul class="pagination">
        <li class="disabled">
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="active"><a href="#!">1<span class="sr-only">(current)</span></a></li>
        <li class=""><a href="#!">2</a></li>
        <li class=""><a href="#!">3</a></li>
        <li class=""><a href="#!">4</a></li>
        <li class=""><a href="#!">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>

    <!--book list-->
  

    <ul class="list-group">
        <li  class="list-group-item" ng-repeat="author in authors.authors">

            <img class="img-thumbnail pull-left" src="/Images/orderedList9.png" alt="">
            <p><a href="{{'#/author/' + author.Id}}"><strong>{{author.FirstName}} {{author.LastName}}</strong></a></p>

            <p>{{author.DateOfBirth|date : "dd/MM/yyyy"}} - {{author.DeathDate|date : "dd/MM/yyyy"}}</p>
        </li>


    </ul>

    <!--bottom pagination-->
    <ul class="pagination">
        <li class="disabled">
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="active"><a href="#!">1<span class="sr-only">(current)</span></a></li>
        <li class=""><a href="#!">2</a></li>
        <li class=""><a href="#!">3</a></li>
        <li class=""><a href="#!">4</a></li>
        <li class=""><a href="#!">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</div>

